/* .bg-color{
    background-color: #E6D9A2;
    color: #624E88;
}
.primary{
    background-color: #E6D9A2;
    color: #624E88;
}
.progress .bg-primary{
    color: #624E88;
    background-color: #624E88;
}

.bg-success{
    color: #624E88;
} */